<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ishzark.ehsanapp">

    <uses-permission android:name="android.permissions.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/gmap_key" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoadingScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".DonorHomeActivity" />
        <activity android:name=".DonationHistoryActivity" />
        <activity android:name=".DonationHistoryActivity2" />
        <activity android:name=".donationrequestDetails2" />
        <activity android:name=".normaladminhome" />

        <activity
            android:name=".VerifyPhoneActivity"
            android:label="@string/title_activity_verify_phone"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".PhoneAuth" />
        <activity android:name=".loginverifyphone" />
        <activity android:name=".DonationTypeActivity" />
        <activity android:name=".SavedLocationsActivity" />
        <activity android:name=".ItemDonationActivity" />
        <activity android:name=".MoneyDonationTypeActivity" />
        <activity android:name=".pickLocationActivity" />
        <activity android:name=".PrepaidInvoice_main" />
        <activity android:name=".Gpay" />
        <activity android:name=".RecyclerEvent" />
        <activity android:name=".DonationHistoryTypes" />
        <activity android:name=".DonationTypes_mng" />
        <activity android:name=".AdminHomeActivity" />
        <activity android:name=".PrepaidInvoiceHome" />
        <activity android:name=".MembershipforDonor" />
        <activity android:name=".ItemsRequestsHome">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name=".GifActivity"/>
        <activity android:name=".Pop" />
        <activity android:name=".ManageAdminsHome" />
        <activity android:name=".MembershipHome" />
        <activity android:name=".EventsActivityDonor" />
        <activity android:name=".Aboutus" />
        <activity android:name=".SendEmail" />
        <activity android:name=".EventHome"/>
        <activity android:name=".adminDetails"/>
        <activity android:name=".NewMngAdmin"/>

        <activity
            android:name=".donationrequestDetails"
            android:screenOrientation="portrait" />


        <activity
            android:name=".eventDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewEventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".membershipDetails"
            android:screenOrientation="portrait" />

    </application>





</manifest>